@import "./song";
@import "./player";
@import "./library";
h1,
h2,
h3 {
	color: rgb(61, 61, 61);
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}
